@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap');
*{
    margin:0;
    padding: 0;
}
#apoio{
    font-family: 'Montserrat', sans-serif;
    color:black
    
}

#Figura1{
    height:10%;
    width: 10%;


}
*{
    background-color: beige;
    text-shadow:  3px 2px 7px cornflowerblue;
}
#titulo{
    background-color: burlywood;
    
    padding: 0px;
    
    
}
body{
text-align: center;

}
#subtitulo{

font-size: large;

}